/* Utils
-----------------------*/

$structure-item-height: 40px;
.vgt-right-align  { text-align: right; }
.vgt-left-align   { text-align: left; }
.vgt-center-align { text-align: center; }


/* Table
-----------------------*/

.k-pagetable-section table.vgt-table {
	position: relative;
	font-size: $font-size-small;
	border-spacing: 0;
	table-layout: fixed;
  	width: 100%;
  	max-width: 100%;

    thead,
    .cover-image,
    .pagetable-options-container {
        user-select: none;
    }

	th, td {
    	border-bottom: 2px solid $color-background;
    	line-height: 1.25rem;
    	@include text-truncate;
    	&.cover-image {
    		width: 38px !important;
    	}
    	&.pagetable-options-container {
    		&.pagetable-options-two {
                width: 80px !important;
            }
            &.pagetable-options-one {
                width: 40px !important;
            }
            &.pagetable-options-none {
                width: 0px !important;
                padding: 0;
            }
    	}
		@media screen and (max-width: $breakpoint-medium) {
			display: none;
			&.cover-image,
			&.mobile-column,
    		&.pagetable-options-container {
      			display: table-cell;
			}
    		&.mobile-column {
      			width: auto !important;
			}
    	}
  	}
  	th {
  		position: relative;
  		font-weight: 400;
    	color: $color-dark-grey;
    	padding: 0 0.75rem;
    	height: $structure-item-height;
		background: #eaeaea;
    	position: sticky;
    	padding: .5rem .75rem;
    	top: 0;
    	cursor: pointer;
    	z-index: 10;
      	&:not(:last-child) {
      		border-right: 1px solid darken(#eaeaea, 8%);
      	}
    	&.sorting {
    		color: black;
    		font-weight: 600;
    		&-desc, &-asc {
    			&:after {
	                position:absolute;
	                content: "";
	                right: 1rem;
	                top: calc(50% - 3px);
	                border-color: black transparent;
	                border-style: solid;
	                border-width: 6px 5px 0;
	            }
    		}
    		&-asc {
				&:after {
	                transform: rotate(180deg);
	            }
    		}
    		&.vgt-right-align {
    			&.sorting-desc, &.sorting-asc {
    				&:after {
    					right: auto;
    					left: 1rem;
    				}
    			}
    		}
    	}
  	}
	td {
    	height: $structure-item-height;
    	padding: 0;
    	&:not(.cover-image) {
	    	a, span[data-disabled] {
	    		display: block;
	    		width: 100%;
	    		padding: .5rem .75rem;
	    	}
    	}
      	&:not(:last-child) {
      		border-right: 1px solid $color-background;
      	}
		&.pagetable-options-container {
			overflow: visible;
			height: calc(#{$structure-item-height} - 2px);
		}
		.k-list-item-options {
            display: flex;
            > button {
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                .k-button-text { display: none; }
            }
            &[data-count="2"] {
                > button:first-child {
                    padding-left: 2px;
                }
            }
		}
	}
	tbody {
		margin-top: 2px;
		tr {
			background: white;
			&+ tr {
				margin-top: 2px;
			}
		}
	}
}

.vgt-wrap__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: $font-size-small;
    padding: .35rem .25rem;
    margin-top: .5rem;
    color: $color-dark-grey;
	.footer__row-count {
		&__select {
			background-color: white;
    		width: auto;
    		padding: .15rem;
            padding-top: .175rem;
            padding-right: .4rem;
    		border: 0;
    		border-radius: 0;
    		min-height: 22px;
    		min-width: 40px;
    		margin-left: 5px;
    		color: black;
    		box-sizing: border-box;
    		&:focus {
    			outline: none;
      			border-color: #409eff;
    		}
    	}
    }
	.footer__navigation {
		display: flex;
		&__page-btn {
			display: flex;
			align-items: center;
            justify-content: flex-start;
			&.disabled {
				cursor: default;
				pointer-events: none;
				opacity: 0.25;
			}
			&:hover {
				color: $color-black;
			}
			.chevron {
				margin-top: 2px;
				width: 6px;
				height: 6px;
				border: 2px solid $color-dark-grey;
				border-width: 0 2px 2px 0;
				transition: opacity 0.2s ease-out;
				opacity: 0.5;
				&.left {
					transform: rotate(135deg);
					margin-right: 5px;
				}
				&.right {
					transform: rotate(-45deg);
					margin-left: 5px;
				}
			}
		}
		&__info {
			margin: 0 1rem;
			color: $color-black;
		}
	}
}
